:root {
  --c-background: #000;
  --c-backgroundSurface: #121212;

  --c-primary: #00b0ff;
  --c-secondary: #00b0ff;
  --c-shadowColor: #292929;

  --c-text: #f0f1f4;
  --c-textOnPrimary: #f0f1f4;
  --c-textOnSecondary: #f0f1f4;
  --c-textSecondary: #93a6af;

  --fade: 300ms;

  --c-borderWeb: #00b0ff;
}
