.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;

  background-color: var(--c-backgroundSurface);
}

.grid {
  display: grid;
  grid-template-areas: 'logo'
  'links';

  row-gap: 1rem;

  @media (--t) {
    grid-template-areas: 'logo links';
    justify-content: space-between;
  }
}

.footerLogo {
  grid-area: logo;
  font-size: 1em;
}

.links {
  grid-area: links;

  display: flex;
  align-items: center;

  a {
    text-decoration: underline;
    color: var(--c-textSecondary);

    & + * {
      margin-left: 1.5rem;

      @media (--t) {
        margin-left: 1rem;
      }
    }
  }
}

.changeLanguageButton {
  color: var(--c-secondary);
  outline: none;
}
