.detail {
  display: grid;
  grid-template-areas:
    'image'
    'title'
    'content';
  row-gap: 2rem;

  padding-top: 2rem;
  padding-bottom: 2rem;

  text-align: center;
}

.image {
  grid-area: image;
}

.title {
  grid-area: title;
}

.content {
  grid-area: content;
}

.tools {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;

  span {
    cursor: pointer;

    &:hover {
      font-weight: 700;
    }

    & + span {
      margin-left: 2rem;
    }
  }
}
