.about {
  background-color: var(--c-backgroundSurface);

  padding-top: 4rem;
  padding-bottom: 4rem;

  text-align: justify;

  a {
    text-decoration: underline;
  }
}

.skills {
  background-color: black;
}
